# Base de datos
DB_URL=jdbc:mysql://localhost:3306/venta_entradas_db
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_password

# JWT (Generar uno seguro de al menos 256 bits)
JWT_SECRET=tu_secreto_super_seguro_y_largo_para_firmar_tokens_jwt
JWT_EXPIRATION=86400000
MERCADOPAGO_ACCESS_TOKEN=APP_USR-...

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
